form {
  margin:40px 0;
  width:40%;
  height:300px;
}

form button{
  margin-left:10px;
}
form button:first-child{
  margin-left:0px;
}

.hide{
  display:none;
}

h3{
  margin-top:10px;
}
h3 a:hover{
  text-decoration: none;
}
.appHeader{
  margin-right:40px;
}
.navbar-default .navbar-nav>li>a.active{
  background: gainsboro;
}
